.navbar-sidenav-container {
  flex: 1;
}

.mat-icon {
  margin-right: 10px;
  color: #D8D8D8;
}

h3 {
  border: none;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 0 16px;
}