<mat-toolbar  class="mat-elevation-z12" color="primary">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>Competency matrix</h1>
</mat-toolbar>

<mat-sidenav-container class="navbar-sidenav-container">
  <mat-sidenav  class="mat-elevation-z12" #snav mode="open" opened="true" fixedInViewport="true" fixedTopGap="72">
    <mat-nav-list>

      <ng-container *ngFor="let component of components">
        <a mat-list-item routerLink="{{component.path}}" *ngIf="component.title; else menuTitle">
          <mat-icon *ngIf="component.icon">{{component.icon}}</mat-icon>
          <div>{{component.title}}</div>
        </a>
        <ng-template #menuTitle>
          <h3>{{component.category}}</h3>
        </ng-template>
      </ng-container>


    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>