<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-form-field floatPlaceholder="never">
      <mat-select #select placeholder="Employee">
        <mat-option *ngFor="let employee of employees" [value]="employee.matrix">
          {{ employee.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="!select.value" (click)="saveMatrix()">Save</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <div class="create-matrix-container" *ngIf="!select.value; else employeeSelected">
    <mat-radio-group disabled *ngFor="let row of emptyMatrix; let i = index" [(ngModel)]="row.selectedLevel">
      <h3>{{ row.area }}</h3>
      <mat-radio-button *ngFor="let level of row.levels" [value]="level"></mat-radio-button>
    </mat-radio-group>
  </div>
</mat-card>

<ng-template #employeeSelected>
  <div class="create-matrix-container">
    <mat-radio-group *ngFor="let row of select.value; let i = index" [(ngModel)]="row.selectedLevel">
      <h3>{{ row.area }}</h3>
      <mat-radio-button *ngFor="let level of row.levels" [value]="level"></mat-radio-button>
    </mat-radio-group>
  </div>
</ng-template>