.mat-radio-button {
  margin: 0px 4px 0px 4px;
}

.mat-radio-group {
  margin: 4px;
  display: inline-block;
  flex-grow: 1;
}

.create-matrix-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 700px;
}

.mat-card {
  max-width: 800px;
  border-radius: 0 0 4px 4px;
}

.mat-toolbar {
  border-radius: 4px 4px 0px 0px;
  padding-left: 8px;
}

.mat-toolbar-row {
  justify-content: space-between;
}

