<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-raised-button color="primary" (click)="createUser()"
    [disabled]="!newUser.name || !newUser.title || !newUser.experience">Create user</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-card-title>
    <form>
      <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="newUser.name" name="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Title" [(ngModel)]="newUser.title" name="title">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Experience" [(ngModel)]="newUser.experience" name="experience">
      </mat-form-field>
    </form>
  </mat-card-title>

  <mat-card-content>
    <form>
    </form>
  </mat-card-content>
</mat-card>